
@font-face {
    font-family: 'kingthings_wroteregular';
    src: url('../fonts/Kingthings_Wrote-webfont.eot');
    src: url('../fonts/Kingthings_Wrote-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Kingthings_Wrote-webfont.woff') format('woff'),
         url('../fonts/Kingthings_Wrote-webfont.ttf') format('truetype'),
         url('../fonts/Kingthings_Wrote-webfont.svg#kingthings_wroteregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);




#wrapper {
	margin:auto;
	width:900px;
	text-align: left;

}

#login {
	margin: 10% auto 0;
	padding: 0;
	width: 190px;
	clear: both;
	text-align: left;
}


#login label {
	font-size: 0.8em;
	font-style: italic;
}


#login input {	
	margin: 0 auto;	
	background: rgba(166, 238, 238, 0.5);
	border: none;
	height: 3em;
	-webkit-transition: box-shadow 500ms ease;
	-moz-transition: box-shadow 500ms ease;
	-ms-transition: box-shadow 500ms ease;
	-o-transition: box-shadow 500ms ease;
	transition: box-shadow 500ms ease;
}

#login input:focus {
	-webkit-transition: box-shadow 500ms ease;
	-moz-transition: box-shadow 500ms ease;
	-ms-transition: box-shadow 500ms ease;
	-o-transition: box-shadow 500ms ease;
	transition: box-shadow 500ms ease;
	outline: none;
	box-shadow: inset 0px 0px 4px rgb(33, 165, 154);
}

#login table {
	margin-top: 10px;
	margin-bottom: 10px;
}

#login table tr:nth-child(odd){
	height: 20px;
}

#login button {
	width: auto;
	height: auto;
	background: none; 
	border: none;
	-webkit-transition: color 500ms ease;
	-moz-transition: color 500ms ease;
	-ms-transition: color 500ms ease;
	-o-transition: color 500ms ease;
	transition: color 500ms ease;
	color: black;
}

#login button:hover {
	
	-webkit-transition: color 500ms ease;
	-moz-transition: color 500ms ease;
	-ms-transition: color 500ms ease;
	-o-transition: color 500ms ease;
	transition: color 500ms ease;
	color: rgb(66, 173, 122);
}





#adminmenu {
	padding-left: 0;
}

#adminmenu li {
	float: left;
	list-style: none;
	margin-right: 20px;
}

.clear {
	clear: both;
}

.error {
	padding: 0.75em;
	margin: 0.75em;
	border: 1px solid #990000;
	max-width: 400px;
	color: #990000;
	background-color: #FDF0EB;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
	-o-border-radius: 0.5em;
}


p,li {
	color: black;
	font-size: 16px;
	line-height: 1.5em;
	font-family: 'Roboto', sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

form {
	margin-left: 0;
	margin-right: 0;
}

form input {
	border: 1px solid #999999;
	border-bottom-color: #cccccc;
	border-right-color: #cccccc;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	margin: 2px;
}

body {
	text-align: center;
	background-color: #e6e6e6;
	background-image: url(http://i.imgur.com/Zwo288N.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

header {	
	width: 100%;
	text-align: left;
	box-shadow: 0px 0px 25px black;
	
}

header h1 {
	font-family: 'kingthings_wroteregular';
	margin-top: 0;
	margin-bottom: -30px;
	padding-top: 10px;
	padding-left: 30px;
	font-size: 45px;
	color: rgb(172, 43, 11);	
	text-align: left;
}

header li{
	list-style: none;
	display: inline-block;
	margin-top: 0;	
	padding: 10px;	
	border-left: 1px solid #cacaca;
	
	-webkit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-ms-transition: all 100ms ease;
	-o-transition: all 100ms ease;
	transition: all 100ms ease;
}

header li:first-child {
	border: none;
}

@import url(http://fonts.googleapis.com/css?family=Roboto);

header li a, header li p {
	color: #696D6C;
	white-space: nowrap;
	font-family: 'Roboto', sans-serif;	
}

header li a:hover{
	
}

header p {
	line-height: 100%;
}

.menu-logout, .menu-wrapper {
	display: inline-block;
	
}

.menu-wrapper {
	
}

.menu-logout {
	float:right;
	position: relative;
	top: 16px;
	height: 44px;
	padding-left: 5px;
	padding-right: 5px;
	right: 10px;
	border-left: 1px solid #CACACA;
	cursor: pointer;
	
}

.menu-logout p {
	color: #696D6C;
}

#settings:hover, #settings:hover a   {
	text-decoration: underline;
}

.ratas {
	color: #696D6C;
}

.menu-container {
	

	
} 

.menu-container.scroll {
	

}

.sticky {  
    position: fixed;  
    width: 100%;  
   	height: 65px;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
	margin-top: -10px;
    background: #E3E3E3;
    box-shadow: 0px 0px 25px black;

}  

#register-wrapper {
	width: 405px;
	margin: 50px auto;
	text-align: left;
}

#loggedout {	
	
	background: #7EB62E;		
	height: 50px;
	width: 500px;
	position: absolute;
	top: 5%;
	left: 50%;
	margin: -25px 0 0 -250px;
	opacity: 0;
	text-align: left;
	padding-bottom: 15px;
	-webkit-transition: opacity 1000ms ease;
	-moz-transition: opacity 1000ms ease;
	-ms-transition: opacity 1000ms ease;
	-o-transition: opacity 1000ms ease;
	transition: opacity 1000ms ease;
}

#loggedout p, #virhe p {
	color: #011F99;
	margin-left:10px; 
}

#loggedout.show, #virhe.show{
	opacity:1;
} 

#virhe {	
	
	background: #f64b2f;		
	height: 50px;
	width: 500px;
	position: absolute;
	top: 5%;
	left: 50%;
	margin: -25px 0 0 -250px;
	opacity: 0;
	text-align: left;
	padding-bottom: 15px;
	-webkit-transition: opacity 1000ms ease;
	-moz-transition: opacity 1000ms ease;
	-ms-transition: opacity 1000ms ease;
	-o-transition: opacity 1000ms ease;
	transition: opacity 1000ms ease;
}

.fa-margin {
	margin-right: 20px;
}

.uutinen {
	border: 1px solid white;
	background: rgb(238, 238, 238);
	box-shadow: 0px 0px 3px gray;
	
}


.esikatsele-uutiset, .uutinen {	
	margin: 20px auto;
	
}

.esikatsele-uutiset p, .uutinen p, .uutinen h1, .esikatsele-uutinen h1,
 .uutinen h2, .esikatsele-uutinen h2, .uutinen h3, .esikatsele-uutinen h3,
  .uutinen h4, .esikatsele-uutinen h4, 
  .uutinen h5, .esikatsele-uutinen h5 {
	text-align: left;
	margin: 0 45px 0 45px;
}

.esikatsele-uutiset p:last-child, .uutinen p:last-child {
	margin-bottom: 45px;
}

.esikatsele-uutiset h1:first-child, .uutinen h1:first-child {
	margin-top: 25px;
}

.uutinen p:nth-child(2) {	
	border-bottom: 4px solid rgb(172, 43, 11);
	margin-bottom: 25px;

}

.uutinen h1:nth-child(1) {	
	text-align: left;
	color: rgb(172, 43, 11);
}
.container {
	width: 100%;
	
}

.container h1 {
	text-align: left;
}

#user-menu {	
	position: absolute;	
	box-shadow: 0px 5px 5px #6B6B6B;	
	display: none;
	overflow: hidden;
    right: 0px;
}

#user-menu ol {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	}

#user-menu li {
	display: block;
	padding-top: 0;
	border-bottom: 1px solid #BBB3B3;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
	margin-left: -45px;		
	text-align: left;	
	background-color: #E3E3E3;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#285170',endColorstr='#135080');
	-webkit-gradient(linear,left top,left bottom,from(#285170),to(#135080));
	background: -moz-linear-gradient(top,#285170,#135080);


}



#user-menu a {
	text-shadow: none !important;
	
}
#user-menu a:hover {
	text-shadow: none !important;
	
}






.ratas {
	-webkit-transition: all 1000ms ease;
	-moz-transition: all 1000ms ease;
	-ms-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;

	behavior:url(-ms-transform.htc);  
  -moz-transform:rotate(0deg);  
  -webkit-transform:rotate(0deg);  
  -o-transform:rotate(0deg);  
  -ms-transform:rotate(0deg);  

}

.rotate {
	-webkit-transition: all 1000ms ease;
	-moz-transition: all 1000ms ease;
	-ms-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;

		behavior:url(-ms-transform.htc);  
  -moz-transform:rotate(90deg);  
  -webkit-transform:rotate(90deg);  
  -o-transform:rotate(90deg);  
  -ms-transform:rotate(90deg);
}



.uu-wrapper, .admin-wrapper {
	width: 60%;
	margin-top: 60px auto;
	text-align: left;
	padding-left: 40px;
}

.uu-wrapper > h1:first-child {
	color: white;
	text-shadow: 0px 1px 13px black;
}

.uu-wrapper table {
	margin-right: auto;
	margin-left:auto;
}

.uu-wrapper table button {
	border: 1px solid #BBB;
	background: none;
	padding: 6px;
	-webkit-transition: color 300ms ease;
	-moz-transition: color 300ms ease;
	-ms-transition: color 300ms ease;
	-o-transition: color 300ms ease;
	transition: color 300ms ease;

}


.uu-wrapper table button:hover {
	color: green;
	box-shadow: inset 0 0 4px black;	

	-webkit-transition: color 300ms ease;
	-moz-transition: color 300ms ease;
	-ms-transition: color 300ms ease;
	-o-transition: color 300ms ease;
	transition: color 300ms ease;

	-webkit-transition: box-shadow 200ms ease;
	-moz-transition: box-shadow 200ms ease;
	-ms-transition: box-shadow 200ms ease;
	-o-transition: box-shadow 200ms ease;
	transition: box-shadow 200ms ease;

}




.admin-menu li > ol {
    display: none;
}




.container-case table {	
	margin-right: auto;
	margin-left: auto;
	border-collapse: collapse;
	border: none;
	


}

.container-case table td {
	padding: 5px;
	
	text-align: left;
}


.container-case table tr td:last-child {
	
	padding-left: 10px;
}

.container-case table tr:last-child td {
	
}

.container-case table tr td:first-child {
	padding-left: 10px;
}

.container-case table th {
	
	text-align: left;
	padding: 10px;
}



.container-case table tbody tr:nth-child(even) {
	background: #e6e6e6;
}

.container-case table tbody tr:nth-child(odd) {
	background: white;
}

.container-case table tbody tr {
	box-shadow: inset 0px 0px 6px rgb(51, 47, 47);
}



.container-case thead {
	background: #66665e;
	background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
	background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
	background: linear-gradient(#66665e 0%, #45463d 100%);
	border: 1px solid #45463d;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	color: white;

}

.container-case table tr a {
	color: rgb(20, 20, 20);
	text-shadow: 1px 0px 3px rgb(189, 189, 189);
	text-align: left;
	text-decoration: underline;
}



.container-case tbody tr:hover {
	background: rgb(228, 246, 244) !important;	
	-webkit-transition: background 300ms ease;
	-moz-transition: background 300ms ease;
	-ms-transition: background 300ms ease;
	-o-transition: background 300ms ease;
	transition: background 300ms ease;

}

.kuva {
	vertical-align: middle;
}

.uu-wrapper.kuva {
	text-align: center;
}



#photos {
  
   line-height: 0;

   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;

}
#photos img {
  
  width: 100% !important;
  height: auto !important;
}

.mobile-menu {
	display:none;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }



  .menu-logout {  	
  	margin: 0 auto;
  	float: none;  		
  	width: 90%;

  }

  .menu-logout a,  .menu-logout p {
  	color:black;
  	text-align: left;
  }

  .menu-wrapper li {
  	
  	width: 100%;
  	
  }

  .menu-wrapper {
  	margin-left: -52;
  }

  header {
  	height: 425px;
  }

}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.poista {
	color: red;
}

.tlisays {
	color: green;
}